loglevel=warn
fetch-retries=5
fetch-timeout=60000
auto-install-peers=true
registry=https://registry.npmmirror.com

public-hoist-pattern[]=*@vue/*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=csstype
public-hoist-pattern[]=xe-utils
