public-hoist-pattern[]=*@vue/*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
# for type of vue runtime-dom.d.ts
public-hoist-pattern[]=csstype
public-hoist-pattern[]=xe-utils
auto-install-peers=true
strict-peer-dependencies=false
shell-emulator=true
registry=https://registry.npmmirror.com
